* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}